* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --dark-bg: #0a0a0a;
  --darker-bg: #050505;
  --accent: #8a2be2;
  --accent-glow: #3d1278;
  --text: white;
}

body {
  background-color: var(--dark-bg);
  color: var(--text);
  line-height: 1.6;
  overflow-x: hidden;
}

/*Navigation*/

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(10, 10, 10, 0.95);
  backdrop-filter: blur(10px);
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--accent);
  text-decoration: none;
  position: relative;
  padding-left: 2.5rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3w ease;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--accent);
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

/*Contact Info*/

.contact-header {
  font-size: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  text-align: center;
}

.contact {
  padding: 5rem 5%;
  padding-top: 10rem;
  background: var(--darker-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-card {
  padding: 2rem;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  width: 50%;
}

.contact-card i {
  font-size: 2.5rem;
  color: var(--text);
  margin-bottom: 1rem;
}

.email-header {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.email-input {
  border-radius: 4px;
  height: 2rem;
  font-size: 1rem;
}

/*Footer*/

footer {
  background: var(--darker-bg);
  padding: 3rem 5%;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.social-links {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.social-links a {
  color: var(--text);
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

.social-links a:hover {
  color: var(--accent);
  transform: translateY(-3px);
}
